CAP_SOLVER_KEY=YOUR_CAPSOLVER_KEY
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_WEBHOOK_URL=https://example.com/api/telegram/webhook
TELEGRAM_DELIVERY_BOT_TOKEN=YOUR_DELIVERY_TELEGRAM_BOT_TOKEN
TELEGRAM_DELIVERY_WEBHOOK_URL=https://example.com/api/telegram/delivery-webhook
ALLOWED_USER_ID=YOUR_TELEGRAM_USER_ID
DEBUG=0
