node_modules/
dist/
build/
.env
.DS_Store
*.log
.idea/
.vscode/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.github
**pnpm-lock.yaml
**pnpm-workspace.yaml
**/playwright-report
**/node_modules
**/storage